{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}




<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">My Awesome Cart!</h1>
            <p>My Awesome Cart, founded by Niraj Pandey in December 2021, is an innovative and customer-centric
                e-commerce company. With a user-friendly interface, cutting-edge technology, and a wide range of
                products, My Awesome Cart aims to revolutionize the online shopping experience. The company's commitment
                to exceptional customer service sets it apart, ensuring a seamless and hassle-free shopping journey. My
                Awesome Cart partners with reputable suppliers to offer high-quality and authentic products,
                guaranteeing customer satisfaction. The platform also provides personalized recommendations, secure
                payment options, fast shipping, and hassle-free returns. As a socially responsible company, My Awesome
                Cart prioritizes sustainability by offering eco-friendly packaging and collaborating with sustainable
                brands. Under the visionary leadership of Niraj Pandey, My Awesome Cart aspires to be the leading
                destination for online shopping, combining convenience, quality, and customer satisfaction. With a
                passion for technology and a customer-focused approach, My Awesome Cart aims to provide an unforgettable
                online shopping experience for customers worldwide.</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Heading</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                    mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
                    mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div>
            <div class="col-md-4">
                <h2>Heading</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                    mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
                    mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div>
            <div class="col-md-4">
                <h2>Heading</h2>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula
                    porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
                    ut fermentum massa justo sit amet risus.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div>
        </div>

        <hr>

    </div> <!-- /container -->

</main>

{% endblock %}